h1 {
    color: #ffffff;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
}

th {
    background-color: #00acc1;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}