
body {
    background-color: #e0f7fa;
    color: #01579b;
    margin: 0;
    padding: 0;
    text-align: center;
}

#cabecalho {
    background-color: #81d4fa;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

#sessao-login {
    background-color: #ffffff;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
}

th {
    background-color: #00acc1;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

#rodape {
    background-color: #01579b;
    color: white;
    padding: 10px;
    margin-top: 50px;
}