#header{
    background-color: aquamarine;
    width: auto;
    height: auto;
    margin: auto;
}
#menu{
    background-color: aqua;
    width: auto;
    height: auto;
    margin: auto;
}
#body-page{
    background-color: azure;
    width: auto;
    height: auto;
    margin: auto;
}
#footer{
    background-color: rgb(0, 194, 74);
    width: auto;
    height: auto;
    margin: auto;
}